h1{
    text-align: center;
    margin:5%;
    
}
h2{
    text-align: center;
    padding:20%;
}

table {
    border: 1px solid rgb(47, 95, 51);
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(51, 31, 141);
    color: rgb(245, 245, 245);
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(46, 58, 238);
}
